# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
venv/
env/
.venv/
.Python

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Данные и модели
data/
models/*.pkl
models/*.joblib
submissions/*.csv

# Kaggle token
~/.kaggle/
access_token
kaggle.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
